:root {
    --font-heading: "DM Serif Display", serif;
    --font-body: "Plus Jakarta Sans Variable", sans-serif;
    --color-electric-violet-50: #f6f3ff;
    --color-electric-violet-100: #efeafd;
    --color-electric-violet-200: #e0d7fd;
    --color-electric-violet-300: #c9b8fa;
    --color-electric-violet-400: #af8ff6;
    --color-electric-violet-500: #9562f0;
    --color-electric-violet-600: #8741e6;
    --color-electric-violet-700: #7f3ad5;
    --color-electric-violet-800: #6426b1;
    --color-electric-violet-900: #532191;
    --color-electric-violet-950: #331362;
    --text-primary: #1a1a1a;
    --text-secondary: #5c5c5c;
    --border-color: #8f8f9d;
    --bg-primary: #fafaf9;
    --bg-secondary: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-body);
    color: var(--text-secondary);
    background-color: var(--bg-primary);
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

ul {
    list-style: none;
}

.dm-serif {
    font-family: var(--font-heading);
}

.image {
    width: 10px;
    height: 10px;
}

/* ============== NAVBAR ICONS ============== */
.code-icon {
    width: 35px;
    height: 35px;
    color: var(--color-electric-violet-600);
}

.menu-icon {
    width: 30px;
    height: 30px;
}

/* ============== HERO ICONS ============== */
.copy-icon {
    width: 30px;
    height: 30px;
}

.hero-icon {
    width: 50px;
    height: 50px;
}
